body{
    padding: 0;
    margin: 0;
}
.container{
    background-color: #003049;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ellipse{
    background-color: white;
    height: 200px;
    width: 300px;
    border-radius: 50%;
}